.wedding-cover {
    position: relative;
    height: 91vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/wedding\ planner.jpg);
}

.wedding-cover h1{
    font-size: 60px;
}

.content{
    position: absolute;
    top: 260px;
}

.content p{
    color: #e26906;
    padding-left: 20px;
    letter-spacing: 2px;
}

.content button{
    width: 107px;
    margin: 41px 20px;
    height: 40px;
    cursor: pointer;
    background-color: burlywood;
    border: 2px solid white;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
}

.content button:hover{
    height: 38px;
    width: 105px;
    border: none;
}

.all-content{
    padding: 50px 150px;
    text-align: justify;
}

.all-content h2{
    font-size: 37px;
    font-family: "Montserrat",Sans-serif;
    margin-bottom: 24px;
    font-weight: 600;
}

.all-content p{
    font-family: "Jost",Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    color: #5e5d5d;
    margin-bottom: 10px;
}

.all-content img{
    margin: 30px 0;
    width: 100%;
    
}

@media (max-width: 1145px){
    .wedding-cover {
        height: 80vh;
        width: 100vw;
    }
    .wedding-cover h1{
        font-size: 60px;
    }
    .content{
        top: 220px;
    }
    .content p{
        font-size: 19px;
    }
}

@media (max-width: 973px){
    .wedding-cover {
        height: 70vh;
        width: 100vw;
    }
    .content{
        top: 190px;
    }
    .wedding-cover h1{
        font-size: 50px;
    }
    .content p{
        font-size: 17px;
    }
    .content button{
        width: 107px;
        margin: 35px 20px;
        height: 40px;
    }
}

@media (max-width: 861px){
    .wedding-cover {
        height: 60vh;
        width: 100vw;
    }
    .content{
        top: 150px;
    }
    .wedding-cover h1{
        font-size: 40px;
    }
    .content p{
        font-size: 15px;
    }
    .content button{
        width: 102px;
        margin: 35px 20px;
        height: 35px;
    }
    .content button:hover{
        height: 33px;
        width: 100px;
    }
}

@media (max-width: 720px){
    .wedding-cover {
        height: 50vh;
        width: 100vw;
    }
    .content{
        top: 120px;
    }
    .wedding-cover h1{
        font-size: 35px;
    }
    .content p{
        font-size: 13px;
    }
    .content button{
        width: 100px;
        margin: 31px 20px;
        height: 33px;
        font-size: 12px;
    }
    .content button:hover{
        height: 31px;
        width: 97px;
    }
}

@media (max-width: 633px){
    .wedding-cover {
        height: 40vh;
        width: 100vw;
    }
    .content{
        top: 100px;
    }
    .wedding-cover h1{
        font-size: 30px;
        line-height: 38px;
    }
    .content p{
        font-size: 11px;
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .content button{
        width: 95px;
        margin: 21px 20px;
        height: 30px;
        font-size: 12px;
    }
    .content button:hover{
        height: 28px;
        width: 93px;
    }
}


